{% extends "base.html" %} {% block content %}
<!-- Sidebar -->
<div class="hidden lg:fixed lg:z-50 lg:flex lg:w-72 lg:flex-col">
    <div class="flex grow flex-col overflow-y-auto bg-white px-6 py-4">
        <nav class="flex flex-1 flex-col">
            <ul role="list" class="flex flex-1 flex-col gap-y-3">
                {% for feed_url, feed_ in feeds.items() %}
                <li>
                    <!-- hx-boost make not reload when user click another page -->
                    <a
                        href="{{ url_for('render_feed', feed_url=feed_.href)}}"
                        class="{{ 'bg-green-700 text-white' if feed.href == feed_['href'] else '' }} rounded-md p-2 text-sm leading-6 font-semibold"
                        hx-boost="true" 
                    > {{ feed_['title'] }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>

<!-- Content -->
<div class="pl-72">

    <main class="py-10">
        <div class="px-4 sm:px-6 lg:px-8"
            id="entries"
            hx-get="{{ url_for('render_feed_entries', feed_url=feed.href, page=0) }}"
            hx-target="this"
            hx-swap="afterbegin"
            hx-trigger="load">
        </div>
    </main>
</div>

{% endblock content %}


